.container {
  width: fit-content;
  margin: 0 auto;
  text-align: -webkit-center;
}

.board {
  width: 156px;
  display: flex;
  flex-wrap: wrap;
}

.position {
  height: 50px;
  width: 50px;
  border: 1px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.position:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

.result {
  text-align: -webkit-center;
  margin-top: 40px;
}

.button {
  text-align: -webkit-center;
  margin-top: 40px;
}

